# Gradle
.gradle/
build/
**/build/

# Android Studio
.idea/
*.iml

# Local configs
local.properties

# Firebase (VERY IMPORTANT)
app/google-services.json

# Kotlin
.kotlin/

# OS
.DS_Store
Thumbs.db

